{% extends "dmacstudios/index.html" %}
{% block content %}
    <h1 class="display-4 text-success">This is DMAC Studios Home Page</h1>
    <p>DMAC UK is both a venue and a social enterprise. At our studios in Bristol’s Stokes Croft we host around 35 regular dance/movement/martial arts classes every week – African Dance, 5 Rhythms Dance, Ballet, Tribal Fusion Belly Dance, Capoeira, Contact Improvisation, Drumming, Salsa, Tango, Afro Fusion, Brazilian Dance, Bollywood Dance, Lyrical Contemporary, Breakdance for Kids and a huge range of Yoga classes.

Our studios rate as some of the best dance spaces in Bristol. The studios are available at weekends and occasionally in the week for bigger workshops, private hire and rehearsals.

We also work to support artists. We work as an agency to engage dance and movement practitioners in workshops, we support master classes and artistic development, we have a start-up programme for fledgling artists and we support several education projects. We aim to promote artists wherever we can, and also to encourage communities in Bristol to engage with regular healthy activity on a weekly basis. We work with schools, community groups and events to promote dance as an essential part of modern living, and we have several partnerships developing in Bristol and beyond.

Most of our classes are available on MoveGB, please check their website for sign up details, https://www.movegb.com/move-more/bristol</p>
<!--<h1>{{ news.title }}</h1>
    <p>{{ news.author }} on {{ news.date_posted }}</p>
    <p> {{ news.content }}</p>  -->
{% endblock content %}